.container-div{
	text-align: center;
}

.color-slider-div{
	text-align: center;
	width: 30%;
	display: inline-block;

}

.color-slider-div .range-field{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.color-slider-div p:first-of-type{
	font-size: 18px;
	font-weight: 600;
}

.lights-btn-div{
	text-align: center;
}

.lights-table-div{
	margin-top: 30px;
	margin-right: 60px;
	margin-left: 60px;
	text-align: center;
	margin-bottom: 40px;
}

#schedule-table{
	margin-bottom: 40px;
}

th, td {
	text-align: center;
} 

td{
	padding-top: 8px;
	padding-bottom: 8px;
}

.edit-schedule-btn, .delete-schedule-btn , .confirm-schedule-btn{
	cursor: pointer;
}

.edit-schedule-btn img, .delete-schedule-btn img, .confirm-schedule-btn img{
	height: 26px;
}

#chart-div{
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}
