.nav-wrapper{
	background-color: #039be5;
}

.nav-content{
	background-color: #0288d1;
}

.header-link{
	font-size: 18px !important;
	letter-spacing: 0.2px;
}

body {
	background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
	color: #039be5;
    font-size: 46px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 5px;
    letter-spacing: 2.2px;
 }

 

.box-title{
	top: 10px;
}

/* Sign In */
.signin-box{
	margin: 30px auto;
	width: 60%;
	min-height: 700px;
	height: max-content;
	background-color: #fff;
	border-radius: 18px;
	text-align: center;
	padding: 1px;
}

.signin-form-div{
	margin: 0px 30px;
}

input{
	color: #000;
}

#boas-vindas{
    display: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px !important;
}

#boas-vindas-nome{
    color: #e4a317;
}

#logout{
    height: 30px;
    line-height: 32px;
}

img {
  width: 24px;
  height: 24px;
}

.gender-div{
	text-align: center;
}

.gender-div > label{
	position: relative;
	margin: 0 10px;
}

.gender-div > span{
	margin: 0 30px;
}

span > label{
	color: #039be5;
}

#filter{
	background-color: #039be5;
	width: 36px;
    height: 36px;
    line-height: 46px;
    top: -12px;
    left: 10px;
}

#filter i{
	line-height: 35px;
    color: #fff;
    font-weight: 600;		
}

.title-div .box-title{
	display: inline-block;
}

.doctor-table tr{
	border-bottom: 2px solid #222;
	border-top: 2px solid #222;
}

.doctor-table > tbody > tr:first-child {
	border-top: none;
}

.doctor-table > tbody > tr:last-child {
	border-bottom: none;
}

.doctor-table td{
	height: 100px;
	text-align: center;
}


.filter-window{
	z-index: 100;
	width: 400px;
	height: 280px;
	border-radius: 10px;
	background-color: #fff;
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #039be5;
	text-align: center;
	display: none;
}

.select-div{
	margin: 5px auto;
	width: 80% !important;
}

.filter-btn-div{
	margin-top: 26px;
}

.title-div{
	text-align: center;
	margin-bottom: 15px;
}

.doctor-content-div{
	height: 900px;
	width: 900px;
	position: fixed;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left: 50%;
	background-color: #fbfbfb;
	border: 2px solid #222;
	border-radius: 30px;
	z-index: 100;
	text-align: center;
	color: #000;
	display: none;
}

.doctor-content-div p{
	font-size: 18px;
	margin: 10px;
} 

.doctor-content-div h5{
	margin-bottom: 34px;
}

.doctor-content-header{
	height: 50px;
	text-align: right;
	line-height: 60px;
}

.close-btn{
	margin-right: 20px;
	color: #000;
	cursor: pointer;
}

#boas-vindas{
    display: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px !important;
}

#boas-vindas-nome{
    color: #e4a317;
}

#logout{
    height: 30px;
    line-height: 32px;
}

#doctor-description{
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.doctor-table tr:hover{
	cursor: pointer;
	-webkit-transform: scale(1.05);	
}

.datepicker{
	width: 160px !important;
	text-align: center;
}

#datepicker-label{
	margin-right: 15px;
}

#horario-select{
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

#agendar-consulta{
	margin-top: 30px;
}