<!DOCTYPE html>
<html>
<head>
<title>Agenda - iMed</title>

  <link rel="icon" href="/static/img/cardiogram.png">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebasneueregular" type="text/css"/>
  <link type="text/css" rel="stylesheet" href="./static/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="./static/css/style-agenda.css"  media="screen,projection"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo military-font" style="margin-left: 20px;"><img src="/static/img/cardiogram.png"> iMed</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li id="boas-vindas" class="military-font">Olá, <span id="boas-vindas-nome"></span><a class="waves-effect waves-light btn red" id="logout">Sair</a></li>
        <li><a class="military-font header-link" href="/login">Login</a></li>
        <li><a class="military-font header-link" href="/cadastro">Cadastro</a></li>
        <li><a class="military-font header-link" href="/cadastro-medico">Cadastro Medico</a></li>
      </ul>
    </div>
    <div class="nav-content military-font">
      <ul class="tabs tabs-transparent">
        <li class="tab" ><a class="header-link" href="" id="page1"></a></li>
      </ul>
    </div>
</nav>

    <div class="title-div">
      <h4 class="box-title military-font">Agenda do dia</h4>
      <p><label id='datepicker-label' for="dia">Escolha o dia: </label><input type="text" class="datepicker" name="dia" id="dia"></p>
    </div>

    <div class="signin-box">
      <table class="doctor-table">
        <tbody>

        </tbody>
      </table>
    </div>

  <div class="footer">

  </div>
  
</body>
<script type="text/javascript" src="./static/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="./static/js/materialize.min.js"></script>
<script type="text/javascript" src="./static/js/script-agenda.js"></script>
</html>
