<!DOCTYPE html>
<html>
<head>
<title>Cadastro Medico - iMed</title>

  <link rel="icon" href="/static/img/cardiogram.png">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebasneueregular" type="text/css"/>
  <link type="text/css" rel="stylesheet" href="./static/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="./static/css/style-cadastro-medico.css"  media="screen,projection"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo military-font" style="margin-left: 20px;"><img src="/static/img/cardiogram.png"> iMed</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li id="boas-vindas" class="military-font">Olá, <span id="boas-vindas-nome"></span><a class="waves-effect waves-light btn red" id="logout">Sair</a></li>
        <li><a class="military-font header-link" href="/login.html">Login</a></li>
        <li><a class="military-font header-link" href="/cadastro.html">Cadastro</a></li>
        <li><a class="military-font header-link" href="/cadastro-medico.html">Cadastro Medico</a></li>
      </ul>
    </div>
    <div class="nav-content military-font">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="header-link" href="">Pag 1</a></li>
        <li class="tab"><a class="header-link" href="#test2">Pag 2</a></li>
        <li class="tab"><a class="header-link" href="#test4">Pag 3</a></li>
        <li class="tab"><a class="header-link" href="#test4">Pag 4</a></li>
      </ul>
    </div>
</nav>

    <div class="signin-box">
    <h4 class="box-title military-font">Cadastro Médico</h4>
    <div class="signin-form-div">
      <form method="post" id="signin-form" class="col s12">
          <div class="row">
              <div class="input-field col s12">
                <input id="name" type="text" name="full_name" class="validate" required>
                <label for="name">Nome completo</label>
              </div>
              <div class="input-field col s12">
                <input id="crm" type="text" name="cpf" class="validate" required>
                <label for="crm">CRM / CNPJ</label>
              </div>
              <div class="input-field col s12">
                <input id="birthday" type="text" name="birthday" class="validate" required>
                <label for="birthday">Data Nascimento</label>
              </div>
              <div class="input-field col s12">
                <input id="address" type="text" name="adress" class="validate" required>
                <label for="address">Endereço</label>
              </div>
              <div class="input-field col s8">
                <input id="cidade" type="text" class="validate">
                <label for="cidade">Cidade</label>
              </div>
              <div class="input-field col s4">
                <input id="estado" type="text" class="validate">
                <label for="estado">Estado</label>
              </div>
              <div class="input-field col s12">
                <input id="phone" type="text" name="adress" class="validate" required>
                <label for="phone">Telefone</label>
              </div>
              <div class="input-field col s12">
                <input id="email" type="text" name="email" class="validate" required>
                <label for="email">E-mail</label>
              </div>
              <div class="input-field col s12">
                <select id="convenios_atendidos" multiple>
                  <option value="" disabled>Selecione os convênios médicos que atende</option>
                  <option value="1">Bradesco</option>
                  <option value="2">Porto Seguro</option>
                  <option value="3">Unimed</option>
                </select>
                <label>Convenios</label>
              </div>
              <div class="input-field col s12">
                <input id="especialidade" type="text" name="especialidade" class="validate" required>
                <label for="especialidade">Especialidade</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">Senha</label>
              </div>
              <div class="input-field col s12">
                <input id="password-confirm" type="password" name="password-confirm" class="validate" required>
                <label for="password-confirm">Confirme sua senha</label>
              </div>


        <div>
          <a id="clear" class="waves-effect waves-light btn ">Limpar</a>
          <button id="submit-form"class="waves-effect waves-light btn">Cadastrar</button>
        </div>
      </form>
      </div>
  </div>

  <div class="footer">

  </div>

</body>
<script type="text/javascript" src="./static/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="./static/js/materialize.min.js"></script>
<script type="text/javascript" src="./static/js/script-cadastro-medico.js"></script>
</html>
