<!DOCTYPE html>
<html>
<head>
  <title>Smart Reef</title>

  <link rel="icon" href="/static/img/peixe.png">

  <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/static/css/smart-reef.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style-lights.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  

</body>
<script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script src="/static/js/plotly-latest.min.js"></script>
<script type="text/javascript" src="/static/js/script-lights.js"></script>
</html>
