<!DOCTYPE html>
<html>
<head>
  <title>Smart Reef</title>

  <link rel="icon" href="/static/img/peixe.png">

  <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/static/css/smart-reef.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style-settings.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>


  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/static/img/peixe.png">  Smart Reef</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/lights">Lights</a></li>
        <li><a href="/temp">Temperature</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-div">
    <h3 class="page-title">Settings</h3>
    <h5 class='real-time' style="font-size: 24px; font-weight: 500; margin-top: 25px">Time Now</h5>
    <h5 class='real-time'><span id="real-time-value" contentEditable="true">NaN</span></div></h5>

    <div class="btn-div">
      <a id="update-time-btn" class="waves-effect waves-light btn light-blue darken-1">Update time</a>
    </div>
    
    
  </div>


</body>
<script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script src="/static/js/plotly-latest.min.js"></script>
<script type="text/javascript" src="/static/js/script-settings.js"></script>
</html>
